@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kosugi+Maru&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --hue-1: 210;
    --hue-2: 140;
    --main-color-1: hsl(var(--hue-1), 100%, 60%);
    --main-color-dark: hsl(var(--hue-1), 69%, 50%);
    --main-color-dark-2: hsl(var(--hue-1), 82%, 55%);
    --main-color-2: hsl(var(--hue-2), 82%, 50%);
    --section-padiing: 7rem ;
}

body {
    --bg-color: hsl(var(--hue-1), 19%, 15%);
    --bg-color-1: hsl(var(--hue-1), 21%, 11%);
    --bg-color-2: hsl(var(--hue-1), 23%, 19%);
    --bg-color-3: hsl(var(--hue-1), 23%, 24%);
    --bg-color-transprent: hsl(var(--hue-1), 23%, 19%, 0.6);
    --heading-color: hsl(var(--hue-1), 100%, 95%);
    --text-color: hsl(var(--hue-1), 14%, 51%);
}

body.dark {

    --bg-color: hsl(var(--hue-1), 100%, 97%);
    --bg-color-1: hsl(var(--hue-1), 100%, 95.5%);
    --bg-color-2: #fff;
    --bg-color-3: hsl(var(--hue-1), 100%, 97%);
    --bg-color-transprent: rgba(255, 255, 255, 0.6);
    --heading-color: hsl(var(--hue-1), 61%, 24%);
    --text-color: hsl(var(--hue-1), 17%, 63%);
}

body.dark .toggle-btn {
    background-color: var(--bg-color-3);
}

body.dark .toggle-btn:hover {
    background-color: brightness(110%);
}

body.dark .nav-link:hover::after,
body.dark .nav-link.active::after {
    width: 100%;
    opacity: 0.5;
}

body.dark .from-input:hover {
    filter: brightness(110%);
}

body.dark .about-card i {
    color: var(--main-color-1);
}

body .about-card i {
    color: var(--main-color-2);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease background-color;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: hsl(var(--hue-1), 100%, 60%, 0.9);
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s ease;
    /* background-color: var(--bg-color-2); */
}

header.scrolled {
    background-color: var(--bg-color-transprent);
    box-shadow: rgba(0, 0, 0, 0.1);
}

header.scrolled .logo {
    height: 80px;
    line-height: 80px;
}

nav.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin-right: 1.5rem;
    height: 120px;
    line-height: 120px;
    font-size: 1.5rem;
    color: var(--heading-color);
    transition: 0.3s ease color;
}

.logo span {
    color: var(--main-color-1);
}

header .logo {
    height: 120px;
    line-height: 120px;
}

.links {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-link {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 500;
    /* opacity: 0.9; */
    transition: 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color-1);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0.5;
    transition: 0.4s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
    opacity: 0.5;
}

.nav-link:hover,
.nav-link.active {
    color: var(--heading-color);
}

.toggle-btn {
    color: var(--heading-color);
    min-width: 40px;
    height: 40px;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    box-shadow: 0 010px 0px rgba(0, 0, 0, 0.05);
    transition: 0.4s ease;
    margin-right: 1rem;
    cursor: pointer;
}

.toggle-btn:hover {
    filter: brightness(97%);
}

.hamburger {
    display: none;
    padding: 1rem 0;
    height: 12px;
    width: 25px;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
}

.hamburger .bar {
    width: 100%;
    height: 2px;
    background-color: var(--heading-color);
    border-radius: 3px;
    position: absolute;
}

.hamburger .bar:first-child {
    top: 1rem;
    transition: top 0.2s 0.15s ease, transform 0.3s;
}

.hamburger .bar:last-child {
    bottom: 1rem;
    transition: bottom 0.2s 0.15s ease, transform 0.3s;
}

body.open .hamburger .bar:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s ease, transform 0.3s 0.1s;
}

body.open .hamburger .bar:last-child {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: bottom 0.2s ease, transform 0.3s 0.1s;
}

.showcase-area {
    padding: 120px 90px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.showcase-area .container {
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh - 120px);
    height: 600px;
    align-items: center;
}

.sub-heading {
    color: var(--heading-color);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.3s ease color;
}

.haeding {
    color: var(--heading-color);
    font-size: 3rem;
    line-height: 1.3;
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    transition: 0.3s ease color;
}

.text {
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 2rem 0;
    line-height: 2.3;
    transition: 0.3s ease color;
}

.showcase-area .sub-heading {
    margin-bottom: 0.7rem;
}

.showcase-area .heading {
    font-size: 3.5rem;
}

.showcase-area .text {
    font-size: 0.8rem 0rem;
}

.cta {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.cta .btn {
    margin-right: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 15px;
    background-color: var(--main-color-1);
    color: #fff;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    border: none;
    min-width: 125px;
    align-items: center;
    text-align: center;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: var(--main-color-dark);
    transform: scale(1.1);
}

.btn.secandr-btn {
    position: relative;
    background-color: transparent;
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border-bottom: 2.5px solid var(--main-color-2);
    border-radius: 0px;
    padding: 0.15rem 0;
    min-width: revert;
}

.btn.secandr-btn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -2px;
    left: 0;
    background-color: var(--main-color-1);
    transition: 0.4s ease-in-out;
}

.btn.secandr-btn:hover::before {
    width: 100%;
}

.shwocase-image {
    position: relative;
    width: 100%;
    min-height: calc(100% + 120px);
    background-image: linear-gradient(124deg, var(--main-color-1)53%,
            var(--main-color-2)53%);
    margin-top: -120px;
    border-radius: 0 0 80px 80px;
    box-shadow: 7px 12px 11px 3px rgba(0, 0, 0, 0.1);
}

.shwocase-image .person {
    position: absolute;
    width: 140%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.showcase-area .circle {
    position: absolute;
    width: 70%;
    top: -3%;
    left: 8%;
    z-index: -1;
}

.dots {
    width: 50%;
    position: absolute;
}

.showcase-area .dots {
    left: 95%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.section {
    position: relative;
    padding: var(--section-padiing);
}

.about .container {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    align-items: center;
}

.about .text {
    margin: 3rem 0 4rem;
}

.about-grid {
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 190px 190px;
    column-gap: 2.5rem;
    row-gap: 100px;
    margin-right: 2rem;
    position: relative;
}

.about-card {
    background-color: var(--bg-color-2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease 0.3s background-color;
}

.about-card:hover {
    transform: scale(1.1);
}

.about-card:nth-child(1) {
    border-radius: 40px 40px 5px 40px;
}

.about-card:nth-child(2) {
    margin-top: 50px;
    border-radius: 40px 40px 40px 5px;
}

.about-card:nth-child(3) {
    margin-top: -50px;
    border-radius: 40px 5px 40px 40px;
}

.about-card:nth-child(4) {

    border-radius: 5px 40px 40px 40px;
}

.about-card i {
    font-size: 3em;
}

.about-card h3 {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.3px;
}

.about-grid::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    border: 15px solid var(--main-color-1);
    z-index: -1;
    opacity: 0.37;

}

.triangle {
    width: 95px;
}

.about .triangle {
    position: absolute;
    left: 90%;
    top: 27%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.skills {
    overflow: hidden;
}

.skills-box {
    background-color: var(--bg-color-2);
    padding: 5rem 6rem;
    border-radius: 20px;
    width: 100%;
    position: relative;
    transition: 0.3s ease background-color;
    box-shadow: 0px 12px 11px 0px rgba(0, 0, 0, 0.1);
}

.box-des {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 2rem;
}

.skills-wrap {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    margin-top: 2rem;
    justify-content: space-between;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sk-progress {
    width: 150px;
    height: 150px;
    position: relative;
}

.sk-progress svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.sk-progress svg circle {
    fill: var(--bg-color-3);
    stroke-width: 5px;
    stroke: var(--main-color-1);
    stroke-dasharray: 427;
    stroke-dashoffset: 427;
    stroke-linecap: round;
    transition: 0.3s ease;

}

.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.3s ease color;

}

.counter span {
    font-size: 2.9rem;
}

.sk-title {
    color: var(--heading-color);
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 1rem;
    transition: 0.3s ease color;

}

@keyframes progress {
    to {
        stroke-dashoffset: 50;
    }
}

.skills .dots {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.5;
    width: 25%;
}

.skills .no {
    position: absolute;
    left: 75%;
    top: 96%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.6;
    width: 20%;
}

.skills .lat {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.3;
    width: 13%;
}

.service .container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 6rem;
    align-items: center;
}

.milestones {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-items: flex-start;
}

.milestones h2 {
    color: var(--main-color-1);
    font-size: 1.3rem;
    transition: 0.3s ease color;

}

.milestones h2 span {
    font-size: 2rem;
    line-height: 1.2;
    margin-right: 0.1rem;
    transition: 0.3s ease color;

}

.milestones h5 {
    color: var(--heading-color);
    line-height: 0.9;
    font-weight: 500;
    font-size: 0.95rem;
    transition: 0.3s ease color;


}

.service-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
}

.srv-card {
    background-color: var(--bg-color-2);
    border-radius: 15px;
    padding: 2.5rem 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 280px;
    cursor: pointer;
    transition: 0.3s ease background-color;
}

.srv-card:hover {
    transform: scale(1.1);
}

.srv-card .text {
    margin: 0.7rem 0;
    font-size: 0.7;
    transition: 0.3s ease color;

}

.srv-card h3 {
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.5rem;
    transition: 0.3s ease color;

}

.srv-card:nth-child(2) {
    transform: translateY(2.2rem);
}

.srv-card:nth-child(3) {
    transform: translateY(-2.2rem);
}

.service-grid::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid var(--main-color-1);
    z-index: -1;
    opacity: 0.37;
}

.portfolio-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.portfolio-title {
    padding-bottom: 1rem;
}

.filter-btn {
    display: inline-block;
    color: var(--heading-color);
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-left: 1.3rem;
    font-family: inherit;
    text-transform: uppercase;
    transition: 0.3s ease color;

}

.filter-btn.mixitup-control-active {
    color: var(--main-color-1);

}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.prt-card {
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--bg-color-2);
    height: 265px;
    display: grid;
    grid-template-rows: 1fr auto;
    transition: 0.3s ease background-color;

}

.prt-image img {
    width: 105%;
}

.prt-image {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prt-des {
    padding: 1.1rem 1.6rem;
    display: flex;
    justify-content: space-between;
    transition: 0.3s ease color;


}

.prt-des h3 {
    font-size: 0.95rem;
    color: var(--heading-color);
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.3s ease color;

}

.btn.secandr-btn.sm {
    padding: 0.07rem 0.1rem;
    font-size: 0.78rem;
    border-bottom-width: 2px;
}

.btn.secandr-btn.sm::before {
    height: 2px;
    bottom: -2px;
}

.prt-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: 0.5s;
}

.prt-image:hover .prt-overlay {
    pointer-events: auto;
    background-color: var(--bg-color-transprent);
    backdrop-filter: blur(10px);
}

.prt-icon {
    color: hsl(var(--hue-1), 61%, 24%);
    font-size: 1.1rem;
    margin: 0 0.4rem;
    background-color: var(--main-color-2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(15px);
    cursor: pointer;
    transition: 0.3s ease;
}

.prt-icon:hover {
    background-color: var(--main-color-dark);
}

.prt-image:hover .prt-icon {
    opacity: 1;
    transform: translateY(0px);
}

.model {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 11;
    pointer-events: none;
}

.slider-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 400px));
    width: 90%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s ease;
}

.model-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    transition: 0.3s ease;
}

.slider-wrap img {
    width: 100%;
    display: none;
    border-radius: 10px;
}

.navigation {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 2rem;
}

.slider-wrap img.showimage {
    display: block;
}

.portfolio.open .model {
    pointer-events: auto;
}

.portfolio.open .model-overlay {
    opacity: 1;
}

.portfolio.open .container {
    transform: scale(0.9);
}

.portfolio .container {
    transition: 0.4s ease;
}

.portfolio.open .slider-wrap {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.45s 0.1s ease;
}

.testimoials {
    padding: var(--section-padiing) 0 calc(var(--section-padiing) + 120px);
    /* overflow: hidden; */
}

.testimoials .container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    align-items: center;
}

.swiper {
    width: 100%;
    background-color: var(--bg-color-2);
    border-radius: 15px;
    padding: 4rem 0 2.5rem;
    transition: 0.3s ease background-color;

}

.testimoials-title {
    padding-left: 2rem;

}

.testimoials-title>* {
    color: #fff;
}

.section-background {
    position: absolute;
    width: 100vw;
    top: 15px;
    left: 47%;
    transform: translateX(calc(-50% + 120px));
    max-width: 75rem;
    height: calc(100% + 120px);
    border-bottom-left-radius: 60px;
    background-image: linear-gradient(55deg,
            var(--main-color-2) 20%,
            var(--main-color-1) 20%);
    z-index: -1;
}

.section-background .person {
    position: absolute;
    height: 490px;
    bottom: 0;
    right: 0;
}

.section-background .circil {
    position: absolute;
    width: 100px;
    left: 24%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.section-background .cir {
    position: absolute;
    width: 100px;
    left: 90%;
    top: 14%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.8;
}

.section-background .circil2 {
    position: absolute;
    width: 100px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    opacity: 0.3;

}

.swiper-slide {
    padding: 25px 2.5rem;
}

.clint {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    gap: 1.2rem;
    transition: 0.3s ease color;

}

.clint img {
    width: 100%;
    border-radius: 50%;
}

.clint-info h4 {
    font-weight: 500;
    color: var(--heading-color);
    margin-bottom: 0.3rem;
    font-size: 1.05rem;
    transition: 0.3s ease color;


}

.clint-info h5 {
    font-weight: 500;
    color: var(--text-color);
    font-size: 0.8rem;
    transition: 0.3s ease color;

}

.clint-info h5 a {
    color: var(--main-color-1);
    transition: 0.3s ease color;


}

.swiper-slide .text {
    display: block;
    margin: 1.5rem 0;
    transition: 0.3s ease color;

}

.contact .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}

.mail {
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 1.1rem;
    transition: 0.3s;
}

.mail i {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 2px;
    transform: translateY(3px);
    transition: 0.3s margin-left;
}

.mail:hover {
    color: var(--main-color-dark);

}

.mail:hover i {
    margin-left: 10px;
}

.contact-from {
    background-color: var(--bg-color-2);
    border-radius: 20px;
    padding: 3.5rem 3rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease background-color;

}

.contact-from h3 {
    color: var(--heading-color);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    line-height: 0.9;
    transition: 0.3s ease color;

}

.from-input {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: var(--bg-color-3);
    border: 2px solid var(--bg-color-3);
    width: 100%;
    border-radius: 17px;
    font-family: inherit;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--heading-color);
    outline: none;
}

.from-input::placeholder {
    color: var(--text-color);
}

textarea.from-input {
    resize: none;
    min-height: 170px;
}

.contact-from .from-input,
.from-input:focus {
    margin-bottom: 1.3rem;
}

.from-input:hover {
    filter: brightness(97%);
}

.from-input:valid {
    filter: brightness(100%);
    background: var(--bg-color-2);
    border-color: var(--main-color-1);
}

.contact .square {
    position: absolute;
    width: 100px;
    left: 17%;
    bottom: 15%;
    transform: translate(-50%, -50%);
}

.contact .triangle {
    position: absolute;
    left: 90%;
    top: 98%;
    opacity: 0.5;
    transform: translate(-50%, -50%);
}

.sub-box {
    background-color: var(--bg-color-2);
    padding: 5rem;
    width: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    align-items: center;
    transition: 0.3s ease background-color;

}

.sub-box .haeding {
    font-size: 2rem;
    padding-top: 2rem;
}

.sub-box form {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    /* transition: 0.3s ease background-color; */
}

.sub-box .from-input {

    transition: 0.3s ease background-color;
}

.subscription .map {
    position: absolute;
    height: 150%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.15;
}

footer {
    padding: 4rem 0;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .social-media {
    display: flex;
}

.social-link {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: var(--bg-color-1);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.social-link:hover {
    color: var(--main-color-1);
}

@media(max-width:1020px) {
    .sub-heading {
        font-size: 0.7rem;
    }

    .haeding {
        font-size: 2rem;
    }

    .showcase-area .heading {
        font-size: 2.7rem;
    }

    .text {
        font-size: 0.84rem;
        margin: 1.3rem 0;
    }

    .btn {
        padding: 0.8rem 1.6rem;
        font-size: 0.8rem;
        border-radius: 15px;
        min-width: 100px;
    }

    .btn.secandr-btn {
        font-size: 0.85rem;
    }

    .from-input {
        padding: 0.8rem 1.45rem;
        border-radius: 15px;
        font-size: 0.8rem;
    }

    .logo {
        font-size: 1.45rem;
    }

    header .logo {
        height: 100px;
        line-height: 100px;
    }

    .nav-link {
        font-size: 0.7rem;
    }

    .showcase-area {
        padding: 100px;
    }

    .showcase-area .container {
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    .skills-box {
        padding: 4rem;
    }

    .sk-progress {
        transform: scale(0.85);
    }

    .service .container {
        column-gap: 2.5rem;
    }

    .contact .container {
        column-gap: 2.5rem;
    }

    .contact-from {
        padding: 2.5rem 2rem;
    }

    .contact-from h3 {
        font-size: 1.1rem;
        margin-bottom: 1rem;

    }

    .contact .from-input {
        margin-bottom: 0.8rem;
    }

    .sub-box {
        padding: 3.5rem 2.5rem;
        column-gap: 2rem;
    }


}
@media(max-width:889px){
    .skills-wrap {
        grid-template-columns: repeat(2, 150px);
        row-gap: 1rem;
    }
   
}

@media(max-width:780px) {
    :root {
        --section-padding: 4.5rem
    }

    .hamburger {
        display: block;
    }

    .links {
        order: 3;
        flex-basis: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0.2rem;
        opacity: 0;
        transition: 0.3s ease;
    }

    .links ul {
        position: relative;
        flex-direction: column;
    }

    header nav {
        justify-content: space-between;
    }

    .nav-link {
        margin: 1.5rem 0;
        color: var(--heading-color);
        font-weight: 500;
    }

    .toggle-btn {
        margin: 0;
    }

    .links ul::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0.5px;
        background-color: var(--heading-color);
        opacity: 0;
        left: 50%;
        top: -0.5rem;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
    }

    .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 6;
        opacity: 0;
        transition: 0.3s ease;
        pointer-events: none;
    }

    header {
        height: 505px;
        max-height: 100px;
        overflow: hidden;
    }

    header.scrolled {
        height: 485px;
        max-height: 80px;
    }

    body.open header {
        max-height: 505px;
        background-color: var(--bg-color-2);
    }

    body.open .overlay {
        opacity: 1;
        pointer-events: auto;
    }

    body.open .links ul::after {
        opacity: 0.7;
        width: 100%;
    }

    body.open header.scrolled {
        height: 485px;
    }

    body.open .links {
        opacity: 1;
    }

    .showcase-area .container {
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;
    }

    .shwocase-image {
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        max-width: 450px;
        margin-top: 0;
        border-radius: 40px;
    }

    .showcase-info {
        width: 100%;
        margin-top: 1rem;
    }

    .showcase-area .text {
        margin: 0.2rem 0;
    }

    .cta {
        margin-top: 1rem;
    }

    .about .container {
        grid-template-columns: 1fr;
    }

    .about-grid {
        order: 3;
    }

    .haeding br {
        display: none;
    }

    .about .text {
        margin: 1rem 01.5rem;
    }

    .about-grid {
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px;
        margin: 2.5rem 0 0 0;
        column-gap: 2rem;
        row-gap: 80px;
    }

    .about-grid::before {
        left: 35%;
        width: 150px;
        height: 150px;
        border-width: 10px;
    }

    .about-card h3 {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
    .box-des {
        grid-template-columns: 1fr;
        justify-items: flex-start;
    }

    .skills-wrap {
        grid-template-columns: repeat(2, 150px);
        row-gap: 1rem;
    }

    .sk-title {
        margin-top: 0;
    }

    .service .container {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .service .text {
        margin: 1.5rem 0 0.5rem;
    }

    .service-grid {
        margin-top: 3.5rem;
        column-gap: 1.5rem;
        row-gap: 6.5rem;
        max-width: 600px;
    }

    .srv-card {
        padding: 1.8rem 1.7rem;
        min-height: 260px;
    }

    .srv-card h3 {
        font-size: 0.9rem;
    }

    .srv-card .text {
        margin: 0.4rem 0 0.8rem;
    }

    .portfolio-title {
        padding-bottom: 0;
    }
    .testimoials{
        padding: var(--section-padding) 0rem ;
    }
    .testimoials-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 0 3rem 0;
    }
    .testimoials .container {
        position: relative;
        grid-template-columns: 1fr ;
    }

    .section-background {
        transform: translateX(0%);
        left: 0;
        border-radius: 20px;
        top: -3%;
        height: 120%;
        background-image: linear-gradient(45deg, 
        var(--main-color-2)17%,
        var(--main-color-1)17%);
    }
    .section-background .person,
    .section-background .cir, 
    .section-background .circil,
    .section-background .circil {
        display: none;
    }
    .swiper{
        order: 2;
        padding: 1rem 0;
    }
    .clint{
        grid-template-columns: 65px 1fr;
    }
    .clint-info h4{
        margin-bottom: 0.2rem;
        font-size: 0.97rem;
    }
    .clint-info h5{
        
        font-size: 0.7rem;
    }
    .contact .container{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .contact .square{
        display: none;
    }
    .contact .triangle{
        display: none;
    }
    .sub-box{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .sub-box .haeding{
        margin-top: 0;
    }
    .subscription .map{
        height: 70%;
    }
}
@media(max-width: 500px){
    .section{
        padding: 7rem 1rem;
    }
    .showcase-area{
        padding: 120px 0px;
    }
    .container{
        padding: 0rem 1rem;
    }
    .showcase-area .container{
        row-gap: 4.5rem;
    }
    .shwocase-image .person {
        position: absolute;
        width: 140%;
        bottom: 0;
        left: 46%;
    }
    .showcase-area .haeding {
        font-size: 2.4rem;
    }
    .skills-box{
        padding: 3rem 2.5rem;
    }
    .skills-wrap{
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }
    .subscription .map{
        height: 70%;
    }  
    .filter-btn {
        margin-left:  1rem;
        font-size: 0.75rem;
    }
    .haeding {
        font-size: 1.1rem;
    }
    .sub-heading {
        font-size: 0.5rem;
    }
}
@media(max-width:420px){
    .section-background {
        transform: translateX(-4%);
        left: 0;
        border-radius: 20px;
        top: -3%;
        height: 120%;
        background-image: linear-gradient(45deg, 
        var(--main-color-2)17%,
        var(--main-color-1)17%);
    }
}
@media(max-width: 449px){
    
    .showcase-area{
        padding: 120px 0px;
    }
    .container{
        padding: 0rem 1rem;
    }
    .showcase-area .container{
        row-gap: 4.5rem;
    }
    .shwocase-image .person {
        position: absolute;
        width: 140%;
        bottom: 0;
        left: 46%;
    }
    .showcase-area .haeding {
        font-size: 2.4rem;
    }
    .skills-box{
        padding: 3rem 2.5rem;
    }
    .skills-wrap{
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }
    .subscription .map{
        height: 70%;
    } 
    .about-grid::before {
        left: 45%;
        width: 150px;
        height: 150px;
        border-width: 10px;
    } 
    .filter-btn {
        margin-left:  1rem;
        font-size: 0.75rem;
    }
    .haeding {
        font-size: 1.1rem;
    }
    .sub-heading {
        font-size: 0.5rem;
    }
    .section-background {
        border-radius: 20px;
        top: -3%;
        transform: translateX(-4%);
        background-image: linear-gradient(45deg, var(--main-color-2) 17%, var(--main-color-1) 17%);
    }
}